/** 
* CSS의 유일한 주석 
*
* @format
*/
body {
  /* 글자의 굵기 정도 (100~900)*/
  font-weight: 100;
}

/* Element Selector (Tag Selector) */
div {
  /*글자 색상*/
  color: #00f;

  /*글자 크기 조정*/
  font-size: 2rem;

  /*박스의 배경색 조정*/
  background-color: #ff0;
}
