/** @format */
/*
ID Selector: #

Class Selector: .

Element(Tag) Selector: Tag Name

Universal Selector: *
*/

/*ID가 first-div인 태그에 대해 스타일을 적용한다.*/
#first-div {
  background-color: #aaf;
}

/*Class가 tall-div인 태그에 대해 스타일을 적용한다.*/
.tall-div {
  height: 4rem; /*16px * 4*/
}

/*
클래스가 small-font-size인 태그
  폰트 크기를 0.625rem ==> 10px
  글자 색상은 원하는 대로*/
.small-font-size {
  font-size: 0.625rem;
  color: cadetblue;
}

/*클래스가 big-font-size인 태그
  폰트 크기를 2rem=>32px
  */
.big-font-size {
  font-size: 2rem;
}

/*클래스가 italic인 태그
  폰트에 기울기 주기*/
.italic {
  font-style: italic;
  font-size: 4rem;
}

/* body 스타일: 배경색 ff0 */
body {
  background-color: #ff0;
  font-size: 0.8rem;
  font-family: sans-serif;
}

/* div 스타일: 배경색 ccc, border-radius: 1rem */
div {
  background-color: #ff0;
  border-radius: 1rem;
}

/*Universal Style: 글자 색상 333 */
* {
  color: #333;
}
