.body {
  margin: 0;
  background-color: #000;
}

.box-model {
  border: 2px solid rgb(240, 240, 92);
  text-align: center;
  width: 100%;
  max-width: 680px;
  padding: 1rem;
  margin: 0 auto;
}

.title,
.content {
  border: 1px solid #000;
  padding: 0.625rem;
}
