/** @format */
:root {
  --header-background-color: #fed50a;
  --header-border-color: #e3a20e;
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
}

img {
  vertical-align: middle;
  width: 2rem;
  height: 25px;
  padding: 1px;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 380px;
}

.top-box {
  padding: 0;
}

.menu-bar::after {
  display: block;
  clear: both;
  content: "";

  width: 100%;
  border: 1px solid #000;
}

.menu-bar {
  background-color: var(--header-background-color);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.icon {
  width: 30px;
  vertical-align: middle;
}

.category {
  width: 100%;
  margin: 0 auto;
}

.category-name1 {
  display: inline-block;

  width: 45%;
  border-bottom: 1px solid #f00;
  text-align: center;
  padding: 5px;
  margin: 0 2%;
}

.category-name2 {
  display: inline-block;

  width: 45%;
  text-align: center;
  margin: 0 2%;
}

.post {
  border: 1px solid #eee;
  vertical-align: middle;
}

.notice {
  display: inline-block;

  color: white;
  background-color: #f00;
  font-size: 0.6rem;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
}

.notice-title {
  display: inline-block;

  color: #f00;
  font-weight: 2rem;
  padding: 5px;
}

.comment_cnt {
  display: inline-block;

  font-size: 0.7rem;
  color: orange;
}

.notice-sub {
  display: inline-block;

  font-size: 0.625rem;
  width: 30px;
  text-align: center;
  margin: 0 5px;
}

.post-title {
  display: inline-block;
  font-size: 1rem;
  padding: 5px;
}

.writer {
  display: inline-block;
  font-size: 0.6rem;
  color: orange;
  margin: 0 5px;
}

.date {
  display: inline-block;
  font-size: 0.6rem;
  color: #222;
}

.page-navigator {
  background-color: var(--menu-background-color);

  margin: 0;
  padding: 1.5rem 0;

  font-size: 0;
  color: var(--navigator-border-color);
  text-align: center;

  list-style-type: none;
}

.page-item {
  font-size: 0.95rem;
  background-color: var(--white);

  display: inline-block;

  min-width: 26px;
  padding: 7px 0 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 3px;

  cursor: pointer;
}

.now-page-active {
  font-weight: 500;
  color: var(--menu-active-color);

  border: 1px solid var(--menu-active-color);
}

.next-page {
  padding-left: 7px;
  padding-right: 7px;
}

.bottom-box {
  background-color: #000;
  text-align: center;
  padding: 2px;
  font-size: 1rem;
}

.login-btn {
  color: #aaa;
  font-size: 0.9rem;
  width: 50px;
  background-color: #222;
  border-radius: 5px;
  padding: 5px 0;
  margin: auto;
}

.text-sample {
  color: #aaa;
  padding: 20px 0;
}
