body {
  margin: 0;
  height: 100vh;
}

.contents {
  height: 70vh;
  background-color: azure;
}

.footer {
  height: 30vh;
  min-height: 7.8125rem; /*125px*/
  background-color: aquamarine;
}

.inline-box {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;

  display: inline-block;
  width: 46%;

  vertical-align: top;

  &:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.hundred-percent {
  width: 100%;
  height: 30px;
  background-color: aqua;
}

.hundred-vw {
  width: 100vw;
  height: 30px;
  background-color: chocolate;
}

.half-vw {
  width: 50vw;
  height: 30px;
  background-color: antiquewhite;
}

.hundred-percent-height {
  display: inline-block;
  width: 30%;
  height: 100%;

  background-color: bisque;
}

.hundred-vh {
  display: inline-block;
  width: 30%;
  height: 100vw;

  background-color: blueviolet;
}

.half-vh {
  display: inline-block;
  width: 30%;
  height: 50vw;

  background-color: blue;
}
