* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
}

button {
  display: block;
  width: 100%;

  padding: 5px 0px;

  border: 1px solid #bbb;
  border-radius: 5px;

  background-color: #eee;

  font-size: 1.01rem;

  /* $::before 이미지 */

  &:first-of-type {
    margin: 10px 0;
  }
}

.seperator {
  border-top: 1px solid #ccc;
  margin: 1.5rem 0;

  text-align: center;

  position: relative;

  & > span {
    position: absolute;
    top: -15px;

    padding: 0 10px;

    background-color: #fff;
  }
}

label {
  display: inline-block;

  color: #111;
  font-size: 0.9rem;
  margin-top: 1.5rem;

  &:first-of-type {
    margin-top: 0;
  }

  & > sup {
    font-size: 0.5rem;
  }
}

input[type="email"],
input[type="password"],
input[type="text"],
select {
  display: block;
  width: 100%;

  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
}

.rules {
  font-size: 0.7rem;
  color: #999;

  margin-top: 2px;
}

label:has(+ input[required]),
label:has(+ select[required]) {
  & > sup::after {
    content: "*";
  }
}

button.submit {
  display: block;

  width: 100%;
  background: rgb(11, 167, 11);
  padding: 10px;
  border: 0;
  border-radius: 7px;
  margin-top: 1rem;

  font-size: 1.2rem;
  color: #fff;

  &:hover {
    background-color: #070;
  }
}
