* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
}

.wrapper {
  width: 700px;
  margin: 20px auto;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
select {
  display: block;
  width: 100%;

  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
}

input[type="email"] {
  margin-bottom: 10px;
}

label + input[type="radio"] {
  display: none;
}

/* 선택된 radio의 label 스타일*/
label:has(+ input[type="radio"]:checked) {
  border: 1px solid #5f5;
  color: #5f5;
}

/* 선택되지 않은 radio의 label 스타일*/
label:has(+ input[type="radio"]:not(:checked)) {
  border: 1px solid #bbb;
  color: #bbb;
}

.input-area {
  font-size: 0;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 7px;

  & > .input-field {
    display: inline-block;
  }

  & label {
    display: inline-block;
    font-size: 0.8rem;

    padding: 10px;

    &[for="male"] {
      width: 150px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &[for="female"] {
      width: 150px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-right: 1.6rem;
    }
    &[for="local"] {
      width: 150px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &[for="foriegner"] {
      width: 150px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.check {
  border: 1px solid #ddd;
  border-radius: 7px;

  & > .p1 {
    color: #5f5;
    font-size: 0.625rem;

    display: inline-block;
  }
  & > .p2 {
    font-weight: 900;
    display: inline-block;
  }
}

.check {
  margin-top: 10px;
  padding-left: 10px;
}

label + input[type="checkbox"] {
  display: none;
}

label:has(+ input[type="checkbox"]:checked) {
  display: inline-block;
  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-image: url(../images/naver_sprite.png);
  background-size: 365px 352px;
  background-position: -282px -325px;
  background-repeat: no-repeat;
}

label:has(+ input[type="checkbox"]:not(:checked)) {
  display: inline-block;
  width: 10px;
  height: 10px;

  border: 1px solid #ccc;
  border-radius: 50%;
}
